<div class="container">
    <h2>User's questions and answers
        <button [disabled]="loading" [routerLink]="['/dashboard/add']" class="btn btn-primary pull-right">Add New Question</button>
    </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Question</th>
          <th>Answers</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ='let kiki of list'>
          <td>{{kiki.question}}</td>
          <td>{{kiki.answer}}</td>
        </tr>
      </tbody>
    </table>
  </div>