<form [formGroup]="invoiceForm">
    <div formArrayName="itemRows">
      <!-- Check the correct way to iterate your form array -->
      <div *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index"  [formGroupName]="i">
        <h4>Question #{{ i + 1 }}</h4>
        <div class="form-group">
          <textarea formControlName="question" class="form-control" placeholder="Enter your question {{i + 1}}"></textarea>
          
        </div>
        <div class="form-group">
            <textarea formControlName="answer" class="form-control" placeholder="Enter your answer"></textarea>
        </div>
        
      </div>
    </div>
    <button type="button" (click)="saveUserData()" class="btn btn-primary">Sumbit</button>
    <button type="button" (click)="addNewRow()" class="btn btn-primary">Add new Row</button>
  </form>