<div class="col-md-6 col-md-offset-3">
  <h2>Register</h2>
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
      <label for="firstName">Name</label>
      <input type="text" class="form-control" [(ngModel)]="model.firstName" #firstName="ngModel" [ngModelOptions]="{standalone: true}" required placeholder="Enter your name"/>
      <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username">Username</label>
      <input type="text" class="form-control"  [(ngModel)]="model.username" #username="ngModel" [ngModelOptions]="{standalone: true}" required placeholder="Enter your username"/>
      <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <label for="email">Email</label>
      <input type="email" class="form-control" [(ngModel)]="model.email" #email="ngModel" [ngModelOptions]="{standalone: true}" required placeholder="Enter your email"/>
      <div *ngIf="f.submitted && !email.valid" class="help-block">Last Name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" [(ngModel)]="model.password" #password="ngModel" [ngModelOptions]="{standalone: true}" required placeholder="Enter your password"/>
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !c_password.valid }">
        <label for="c_password">Confirm Password</label>
        <input type="password" class="form-control" [(ngModel)]="model.c_password" #c_password="ngModel" (change) = 'getConfirmPassword($event.target.value)' [ngModelOptions]="{standalone: true}" required placeholder="Enter your password"/>
        <div *ngIf="f.submitted && !c_password.valid" class="help-block"> Confirm password is required</div>
        <div class="has-error">
        <div *ngIf="flag == false" class="help-block">Confirm password not matched with password</div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !sq.valid }">
      <label for="sq">Security question one</label>
      <select class="form-control"  (click)="getSecurityQuestions()" [(ngModel)]="model.sq1" #sq1="ngModel" [ngModelOptions]="{standalone: true}" required>
                    <option selected value="">Select the sequerty question</option>
                    <option *ngFor="let sq of secQues" [value]="sq.id">{{sq.question}}</option>
            </select>
      <div *ngIf="f.submitted && !sq.valid" class="help-block">Please select your security question. This is mandatory.</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !sq.valid }">
      <label for="sq">Your answer</label>
      <input type="text" class="form-control" [(ngModel)]="model.sqa1" [ngModelOptions]="{standalone: true}" placeholder="Enter answer for security question 1">
      <div *ngIf="f.submitted && !sq.valid" class="help-block">Please enter your answer. This is mandatory.</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !sq.valid }">
      <label for="sq">Security question two</label>
      <select class="form-control" (click)="getSecurityQuestions()" [(ngModel)]="model.sq2" [ngModelOptions]="{standalone: true}" #sq="ngModel" required>
                        <option selected value="">Select the sequerty question</option>
                        <option *ngFor="let sq of secQues" [value]="sq.id">{{sq.question}}</option>
                </select>
      <div *ngIf="f.submitted && !sq.valid" class="help-block">Please select your security question. This is mandatory.</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !sq.valid }">
      <label for="sq">Your answer</label>
      <input type="text" class="form-control" [(ngModel)]="model.sqa2" [ngModelOptions]="{standalone: true}" placeholder="Enter answer for security question 2">
      <div *ngIf="f.submitted && !sq.valid" class="help-block">Please enter your answer. This is mandatory.</div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Register</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
      />
      <a [routerLink]="['/login']" class="btn btn-warning">Cancel</a>
    </div>

  </form>
</div>
